@media only screen and (max-width: 1000px){
    .logo {
        width: 35%;
      }
    
}

@media only screen and (max-width: 800px){
    .logo {
        width: 40%;
      }

      .navbar {
        padding-left: 6rem;
        padding-right: 6rem;
      }

      .banner {
        width: 20rem;
        height: 3.8rem;
        font-size: 60%;
    }
    
}

@media only screen and (max-width: 450px){
    .logo {
        width: 50%;
      }

      .navbar {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .banner {
        width: 14rem;
        height: 2.7rem;
        font-size: 54%;
        padding-left: 18px;
    }
    
}