@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* DEFAULT CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s ease;
}

/* NAVBAR SECTION */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.logo {
  width: 18%;
}

.hamburger {
  height: 25px;
  width: 30px;
}

/* HERO SECTION */

.slider-outer {
  display: flex;
  align-items: center;
}

.banner {
  color: white;
  background-color: #244ac2;
  width: 35rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  word-spacing: 4%;
  letter-spacing: 0.8px;
  padding-left: 50px;
  position: absolute;
  z-index: 2;
  margin-top: -80px;
  font-weight: bolder;
}

.slider-img {
  width: 95%;
  padding: 5rem;
  margin-top: -5rem;
  z-index: -1;
}

.slider-inner {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-inner img {
  display: none;
}

.slider-inner img.active {
  display: inline-block;
}

.next {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  width: 6%;
  margin-top: -80px;
  margin-left: 83%;
}

.indicaters {
  position: absolute;
  z-index: 4;
  margin-left: 80%;
  margin-top: 30%;
}

.indicator {
  width: 25px;
  margin-right: -5px;
}

.active1 {
  opacity: 50%;
  transform: rotate(120deg);
}

.square {
  position: absolute;
  width: 100%;
  margin-top: -80px;
  z-index: -2;
  background-color: #000000;
  color: black;
  height: 5rem;
  font-size: 70%;
  word-spacing: 4%;
  letter-spacing: 0.8px;
  padding-left: 50px;
  font-weight: bolder;
}

/* MID SECTION */

.mid-section {
  display: flex;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem;
  gap: 5rem;
  margin-top: -1rem;
  margin-bottom: 5rem;
}

.icons {
  width: 20rem;
}

.text-visio {
  color: #061c2c;
  font-weight: 500;
  line-height: 1.5;
}

/* END SECTION */

.end-section {
  padding: 0 7rem;
  margin-bottom: 110px;
  margin-top: -3rem;
}

.block {
  max-width: 1567px;
  width: 100%;
  margin: 0 auto;
}

.inner-blocks {
  margin: 0 -12px 48px;
  padding: 0;
  display: block;
  height: 200px;
}

.inner-blocks li {
  float: left;
  width: 33.33333%;
  margin: 0;
  padding: 0 12px;
  height: 200px;
  display: inline;
}

.t1 {
  color: #1e7bae;
  font-size: 5rem;
  position: absolute;
  margin-left: 25px;
}

.t2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  height: 100%;
  background-color: #061c2c;
  padding: 100px 0 0 30px;
  color: #fff;
}

.sub-box {
  display: flex;
  gap: 2%;
  margin-top: -30px;
}

.btn-card1,
.btn-card2 {
  display: flex;
  justify-content: space-between;
  background-color: #244ac2;
  color: white;
  width: 15%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
